.logos {
    margin-top: 67px;
}

.logos__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos__imgs {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logos__description {
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    max-width: 243px;
}